body {
  main {
    #recipes_navbar {
      .selectors_container {
        padding: 50px 0;
        display: flex;
        justify-content: space-between;
        height: 28px;

        ul {
          display: flex;
          flex-direction: row;
          gap: 2.5rem;

          li {
            .dropdown_container {
              display: flex;
              flex-direction: column;
              gap: 10px;
              width: 130px;
              padding: 5px;
              border: 1.5px solid #000;
              border-radius: 8px;
              background-color: white;
              position: relative;
              z-index: 1;
              .dropdown_title_container {
                width: 100%;
                border: none;
                margin: 0;
                padding: 0;
                background: transparent;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                font-family: $fredoka;
                font-size: 0.875rem;
                cursor: pointer;

                .searchbar_arrow_up {
                  transform: rotate(180deg);
                  transition: 0.5s;
                }

                .searchbar_arrow_down {
                  transform: rotate(0);
                  transition: 0.5s;
                }
              }

              .dropdown_content {
                display: none;
                flex-direction: column;
                gap: 10px;
                background-color: white;
                z-index: 1;

                .dropdown_searchbar_container {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  border: 1px solid $grey;
                  padding: 5px;

                  input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-size: 0.875rem;
                    color: #000;
                    font-family: $fredoka;
                  }

                  input::placeholder {
                    color: $grey;
                    font-family: $fredoka;
                    font-size: 0.875rem;
                  }
                }
              }

              .show {
                display: flex;
              }

              .dropdown_items {
                display: flex;
                flex-direction: column;
                gap: 3px;
                .item {
                  font-size: 0.875rem;
                  font-family: $fredoka;
                  cursor: pointer;
                }
              }
            }
          }
        }

        .recipes_counter_container {
          align-self: center;

          .recipes_counter {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .layout {
    padding: 0 5%;
  }
  body {
    main {
      #recipes_navbar {
        .selectors_container {
          flex-direction: column-reverse;
          height: auto !important;
          gap: 2rem;

          ul {
            flex-wrap: wrap;
            justify-content: space-between;
          }
          .recipes_counter_container {
            align-self: flex-start;
          }
        }
      }
    }
  }
}

@media (min-width: 640px) and (max-width: 768px) {
  .layout {
    padding: 0 5%;
  }
  body {
    main {
      #recipes_navbar {
        .selectors_container {
          flex-direction: column-reverse;
          height: auto !important;
          gap: 2rem;

          ul {
            flex-wrap: wrap;
            justify-content: space-between;
          }
          .recipes_counter_container {
            align-self: flex-start;
          }
        }
      }
    }
  }
}
