/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.layout {
  padding: 0 120px;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
body header #header_homepage {
  width: 100vw;
  height: 468px;
}
body header #header_homepage .header_background_img {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(/assets/img/header_background.jpg);
  background-position: center;
  background-size: cover;
}
body header #header_homepage .header_background_img .header_title_container {
  padding: 0 80px 25px;
}
body header #header_homepage .header_background_img .header_title_container h1 {
  color: #eedd5b;
  font-size: 2.5rem;
  font-family: "Fredoka", sans-serif;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
}
body header #header_homepage .header_background_img .header_searchbar_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 600px;
  background-color: white;
  padding: 10px;
  border: 2px solid #000;
}
body header #header_homepage .header_background_img .header_searchbar_container input {
  flex-grow: 1;
  border: none;
  padding: 10px;
  font-size: 1.25rem;
  outline: none;
  color: #777;
}
body header #header_homepage .header_background_img .header_searchbar_container input::placeholder {
  color: #ccc;
  font-weight: 400;
  font-family: "Fredoka", sans-serif;
}
body header #header_homepage .header_background_img .header_searchbar_container button {
  background: none;
  border: none;
  padding: 0 15px;
  cursor: pointer;
}
body main #recipes_navbar .selectors_container {
  padding: 50px 0;
}
body main #recipes_navbar .selectors_container ul li .dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 130px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 8px;
}
body main #recipes_navbar .selectors_container ul li .dropdown .dropdown_title {
  width: 100%;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
body main #recipes_navbar .selectors_container ul li .dropdown .dropdown_content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main #recipes_navbar .selectors_container ul li .dropdown .dropdown_content .dropdown_searchbar_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
